{% extends "base.html" %}
{% load blog_extras %}
{% block content %}
    <h2>Blog Posts</h2>
    {% for post in posts %}
    {% row 'background-color:red !importatnt;' %}
        {% col %}
            <h3>{{ post.title }}</h3>
            {% include "blog/post-byline.html"%}
            <p>{{ post.summary }}</p>
            <p>
                ({{ post.content|wordcount }} words)
                <a href="{% url 'blog_post_details' post.slug %}">Read More</a
            </p>
        {% enddiv %}
    {% enddiv%}
    {% endfor %}
{% endblock %}